body{
    height: 100vh;
 background: #ffa2a6; background: -moz-linear-gradient(65deg,  #ffa2a6 0%,#ffd1c4 100%); background: -webkit-linear-gradient(to right,  #ffa2a6 0%,#ffd1c4 100%); background: linear-gradient(to right,  #ffa2a6 0%,#ffd1c4 100%);
}
.neumorphic-card {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.4);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 2rem 5rem;
}
.neumorphic-card *{
    text-align:center;
}
.centered{
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    max-width: 100%;
    height: calc(100% - 200px);
}
